# Compiled Source #
###################

*.pyc
._*.*

# MacOS Stuff #
###############
.DS_Store

# IDE Stuff #
#############
.idear/**/*
.project
.pydevproject
.xCodeSupport/**/*

# celerybeat #
##############
celerybeat-schedule
celerybeat.pid

# EVE Static image dump#
########################
EVEATSFrontend/Resources/EveImageDump/**/*

# Logging directory #
#####################
EVEATSBackend/logs/*

# Python virtual env #
######################
EVEATSBackend/env/*
